<h1>Holder Profile</h1>

<div>
    <form button="" action="" method="POST">
<label style="display: block;" for="truckbrand">Favorite Truck Brand</label>
<select name="truckbrand" id="truckbrand">
  <option value="4">Kenworth</option>
  <option value="4">Peterbilt</option>
  <option value="4">Mack</option>
  <option value="4">Hino</option>
  <option value="4">Freightliner</option>
  // ...
</select>

<label style="display: block;" for="trucktrans">Preferred Truck Transmisson</label>
<select name="trucktrans" id="trucktrans">
  <option value="4">Automatic</option>
  <option value="4">Manual 6 speed</option>
  <option value="4">Manual 10 speed</option>
  <option value="4">Manual 13 speed</option>
  <option value="4">Manual 18 speed</option>
  <option value="4">Manual Twin Stick</option>
  // ...
</select>

<label style="display: block;" for="worktype">Preferred Work Type</label>
<select name="worktype" id="worktype">
  <option value="4">Local</option>
  <option value="4">Regional</option>
  <option value="4">Automatic</option>
  // ...
</select>

<label style="display: block;" for="trucktype">Preferred Truck Type</label>
<select name="trucktype" id="trucktype">
  <option value="4">Trailer</option>
  <option value="4">Straight Job</option>
  <option value="4">Tank</option>
  <option value="4">Box</option>

  // ...
</select>
</form>
</div>


